/* track list */
.titlelover-img {
    width: 70%; /* Thu nhỏ hình ảnh xuống 80% */
    height: auto; /* Đảm bảo tỷ lệ hình ảnh không bị thay đổi */
}

/* styles.css */
.track-list-section {
    background-image: url('assets/img/illustrations/bg_soundtrack2.png'); /* Đường dẫn đến hình nền của bạn */
    background-size: cover; /* Để hình nền bao phủ toàn bộ phần */
    background-position: center; /* Để căn giữa hình nền */
    background-repeat: no-repeat; /* Để không lặp lại hình nền */
    position: relative; /* Đặt phần tử ở vị trí tương đối */
    z-index: 1; /* Đảm bảo phần tử không bị che khuất */
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
}

/* .track-list-wrapper {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
    scrollbar-width: none;
} */

.track-list-wrapper::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên Chrome, Safari và Opera */
}

/* .track-item {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s;
} */

/* .track-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
} */

/* .track-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
} */

.track-item:hover {
    transform: scale(1.1); /* Phóng to khi hover */
}

.track-list-wrapper {
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử dãn ra khi không đủ không gian trên một dòng */
    gap: 30px; /* Khoảng cách giữa các phần tử, có thể điều chỉnh theo nhu cầu */
}

.track-item {
    flex: 1 1 15%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center; /* Căn giữa nội dung bên trong */
}

.track-item img {
    width: 80%; /* Đảm bảo hình ảnh chiếm 90% chiều rộng của phần tử */
    height: auto; /* Đảm bảo tỷ lệ khung hình của hình ảnh không bị thay đổi */
    border-radius: 12px;
    margin: 0 auto; /* Căn giữa hình ảnh */
    display: block; /* Đảm bảo hình ảnh không hiển thị như inline */
}


.track-item p {
    margin: 0;
    padding: 8px 0; /* Khoảng cách trên và dưới văn bản, có thể điều chỉnh theo nhu cầu */
    text-align: center;
}

.wrapper-disc {
    min-height: 100vh;
    overflow: hidden;
    padding-top: 100px;
}

.container-disc {
    width: 100%;
    max-width: 250px;
    perspective: 250px;
    margin: auto;
}

.music-album {
    transition: 0.5s all ease;
    box-shadow: 0 5px 10px #00000033;
}

.music-album::after {
    content: " ";
    display: block;
    background-image: url(assets/img/soundtrack/album.png);
    background-size:100%;
    padding-bottom: 100%;
}

/* .music-album:hover {
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: 0.7s all ease;
} */

.music-disc {
    width: 98%;
    position:absolute;
    z-index: -1;
    left: 130px;
    transition: 0.5s ease-in-out;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

/* .music-album:hover .music-disc {
    transition: 0.7s ease-in-out 0.3s;
    left: 55%;
} */

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 250px) {
    .container-disc {
        max-width: 200px;
    }
}

@media screen and (max-width: 200px) {
    .container-disc {
        max-width: 150px;
    }
}

@media screen and (max-width: 150px) {
    .container-disc {
        max-width: 100px;
    }
}

@media screen and (max-width: 100px) {
    .container-disc {
        max-width: 70px;
    }
}

footer {
    color: white;
  }
  
  footer a {
    color: white;
  }

  .titlereview {
    color: black;
    text-align: center;
    font-weight: bold;
    margin: 10% 0; /* Adjust margin as needed */
  }
  .review {
    transform: scale(0.8); /* Thu nhỏ 80% */
    transform-origin: top left; /* Đảm bảo phần tử thu nhỏ từ góc trên bên trái */
  }
    .review p {
    font-size: 0.6em; /* Thu nhỏ chữ xuống 80% */
}