*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    display:grid;
    place-items:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.download-btn{
    background-color: DodgerBlue;
    color: white;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius:5px;
}

.download-btn:hover {
    background-color: RoyalBlue;
  }

.carousel-item {
    display: flex;
    overflow: hidden; /* Đảm bảo không có thanh cuộn ngang */
}
.track-item {
    flex: 1 0 24%; /* Chiếm 24% chiều rộng của carousel-item */
    margin: 0 1%; /* Khoảng cách giữa các track */
    text-align: center;
}
.track-item img {
    max-width: 100%;
    height: auto;
}
.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}